<tr>
  <td class="thumb">
      <i class="icon-link"></i>
  </td>
  <td><%= _.str.truncate(link.get('url'), 25) %></td>
  <td></td> 
  <td class="delete-link"><i class="icon-remove-sign icon-large"></i></td>   
</tr>
