
development: &defaults
  user_code:
    enable: true
    student: dfgsdfsg
    teacher: adfasdfd
 facebook:
    enabled: false
    app_id: xxxxxxxxxxxx
    site_name: Mopo
  twitter:
    enabled: false

test:
    <<: *defaults

staging:
    <<: *defaults
    ga_tracking_id: xxxxxxxxx
    facebook:
        enabled: false
        app_id: xxxxxxxxxxxx
        site_name: Mopo

production:
    <<: *defaults
    ga_tracking_id: xxxxxxxxx
    facebook:
        enabled: false
        app_id: xxxxxxxxxxxx
        site_name: Mopo