// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #ddd; //eee in bootstrap
$white:                 #fff;

// Colors
$green:              #468847;
$flagGreen:          #00C03B;
$red:                #b94a48;
$flagRed:            #E71C15;
$error-color:        #b94a48;
$yellow:             #f4c63f;
$flagYellow:         #F3EC4B;
$blue:               #2489ce;

$scrapThumbnailPadding: 10px;

$baseLineHeight: 16px;
$baseFontSize: 13px;